.proyectos {
    background-color: #f2f7f5;
}

footer {
    & i {
        color: white;
        scale: 1.2;

        transition: all 0.5 ease;
    }

    & img {
        height: 200px;
        object-fit: contain;
    }

    & i:hover {
        scale: 1.5;
    }
}